$navbar-default-bg:#222;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
  color: #ffffff;
  text-decoration: none;
}
.center{
  text-align: center;
}
.jumbotron {
  background-image: url("http://dhwlijwe9jil7.cloudfront.net/files/2012/07/4/ruby-on-rails-history.jpg");
  background-size: cover;
  height: 360px;
}
.jumbotron h1 {
  color: #2E2F30;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}
.btn-xlarge{
  font-size: 1.7em;
  background-color: black;
}
.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description {
margin-top: 0px;
}
.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.article-description {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eaeaea;
}
.article-mata-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.input_checkbox input{
  width:auto !important;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover{
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;

}
footer ul li{
  float: left;;
  margin-left: 15px;
}